<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Block Validator</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h2 class="mt-5">Block Validator</h2>
      <div class="d-flex flex-wrap justify-content-start mt-3">
        {% for block in blocks %}
            <form class="d-inline-block mb-3 mr-3" action="/" method="post">
                <input type="hidden" name="block_text" value='{{ block.block_content|tojson }}'>
                <button type="submit" class="btn btn-success">{{ block.block_name }} </button>
            </form>
        {% endfor %}
    </div>
      <form method="post">
        <div class="form-group">          
          <textarea
            class="form-control"
            id="blockText"
            name="block_text"
            rows="12"
            required
          >
{{ block_text if block_text else '' }}</textarea
          >
        </div>
        <button type="submit" class="btn btn-primary">Validate Block</button>
      </form>      
      {% if error_message %}
    <div class="alert alert-danger mt-3" role="alert">
        Error: {{ error_message }}
    </div>
    {% endif %}
      {% if results %}
      <div class="mt-5">
        <h2>Validation Results</h2>
        <h6>Block Hash : {{ results['block_hash'] }}</h6>
        <table class="table">
          <thead>
            <tr>
              <th>Network</th>
              <th>PoW</th>
              <th>Signature</th>
              <th>PoW Value</th>
              <th>PoW Threshold</th>
              <th>PoW Multiplier</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b>Beta</b> (Send/Change)</td>
              <td>
                {{ '✅Valid' if results['is_pow_valid_beta_base'] else
                '❌Invalid' }}
              </td>
              <td>
                {{ '✅Valid' if results['is_signature_valid'] else '❌Invalid'
                }}
              </td>
              <td>{{ results['work_value'] }}</td>
              <td>{{ results['work_threshold_beta_base'] }}</td>
              <td>{{ results['multiplier_beta_base'] }}</td>
              <td></td>
            </tr>
            <tr>
              <td><b>Beta</b> (Open/Receive)</td>
              <td>
                {{ '✅Valid' if results['is_pow_valid_beta_receive'] else
                '❌Invalid' }}
              </td>
              <td>
                {{ '✅Valid' if results['is_signature_valid'] else '❌Invalid'
                }}
              </td>
              <td>{{ results['work_value'] }}</td>
              <td>{{ results['work_threshold_beta_receive'] }}</td>
              <td>{{ results['multiplier_beta_receive'] }}</td>
              <td></td>
            </tr>
            <tr>
              <td><b>Live</b> (Send/Change)</td>
              <td>
                {{ '✅Valid' if results['is_pow_valid_live_base'] else
                '❌Invalid' }}
              </td>
              <td>
                {{ '✅Valid' if results['is_signature_valid'] else '❌Invalid'
                }}
              </td>
              <td>{{ results['work_value'] }}</td>
              <td>{{ results['work_threshold_live_base'] }}</td>
              <td>{{ results['multiplier_live_base'] }}</td>
            </tr>
            <tr>
              <td><b>Live</b> (Open/Receive)</td>
              <td>
                {{ '✅Valid' if results['is_pow_valid_live_receive'] else
                '❌Invalid' }}
              </td>
              <td>
                {{ '✅Valid' if results['is_signature_valid'] else '❌Invalid'
                }}
              </td>
              <td>{{ results['work_value'] }}</td>
              <td>{{ results['work_threshold_live_receive'] }}</td>
              <td>{{ results['multiplier_live_receive'] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
  </body>
</html>
